/*Flip-card styles initially set for XXL Displays*/
@media only screen and (min-width: 1200px) and (max-width: 1399px){  /*XLScreens (large/hi-def monitors and laptops)*/
    .flip-card{
      width: 26%;
      height:30%;
    }
  }
    @media only screen and (min-width: 992px) and (max-width: 1199px){ /*L Screens (most normal laptops and regular monitors)*/
      .flip-card{
        width: 26%;
        height:30%;
      }
      }
  @media only screen and (min-width: 768px) and (max-width: 991px){ /*M Screens (Mini and some average size tablets*/
    .flip-card{
      width: 30%;
      height: 34%;
    }
    #resume-page{
      padding-left:5vw;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 765px){ /*SM Screens (modern phones and some mini tablets)*/
    .flip-card{
      width: 70%;
      height: 40%;
    }
  }
  @media only screen and (max-width: 575px){ /*XS Screens (older smartphones and touchscreen non-smart phones)*/
    .flip-card{
      width: 70%;
      height: 40%;
    }
  } */