@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*PAGE DEFAULTS*/
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

/*HEADER*/

/*ICONS*/
#home i{
  padding-left:4%;
  color:white;
}
header i:first-of-type{
  padding-left:0;
}
header i:last-of-type{
  padding-right:8px;
}
#home li, #contact{
  display: inline;
}
/*******NAV********/
/* Style the navigation menu */
/* .topnav {
  overflow: hidden;
  background-color: #333; */
  /* position: relative; */
/* } */

/* Hide the links inside the navigation menu (except for logo/home) */
/* .topnav #myLinks {
  display: none;
} */

/* Style navigation menu links */
/* .topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
} */

/* Style the hamburger menu */
.topnav span.icon i {
  color: white;
  /* display: block;
  position: absolute; */
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the active link (or home/logo) */
/* .active {
  background-color: #04AA6D;
  color: white;
} */


/*******HOME*******/
#home .card-grid{
  background-image: url(assets/images/code-focused-opace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:0;
}
#home > .img-fluid{
  background-image: url(../images/code-controller.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#resume-page > .jumbotron:hover{
  opacity:.8;
}
#home{
  margin:0;
  padding:0;
  font-size:1em;
  color: #011627;
  font-size: 2vw;
}
#home .dropdown-menu,
#home a,
#home i,
#home .dropdown-toggle{
  color: #011627;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2vw;
}
#home .dropdown-item:hover,
#home .resume-link:hover{
  font-style:italic;
}
#home ul li a,
#home ul li{
  display:block;
}
#home a.dropdown-toggle{
  cursor:pointer;
}
#home a.dropdown-menu{
  z-index: 50000;
}
/* Flip-card start*/
.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 40vh;
  padding:0;
  margin:1%;
  /* border: 1px solid #f1f1f1; */
  perspective: 1500px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color:#b6a39e;

}
.flip-card-front{
  font-weight: bold;
}
.flip-card-back {
transform: rotateY(180deg);
}
div.flip-card-back a.resume-link{
  padding-right:3%;
}
/*Flip-card end*/

/*******ABOUT PAGE*******/
#about{
  font-size: 2vw;
}/*ensure all text on site is responsive*/
#about-section2 .col-6 iframe{
  width:100%;
  height:100%;
}

/*******ANIMATIONS*******/

/********FOOTER*******/
footer{
  padding: 3%;
  margin:0;
  text-align:center;
  color:white;
}
footer > div:first-of-type{
  padding:0;
  margin:0;
  display:block;
  color:white;
  text-align:center;
}
footer small.disclaimer{
  margin:0;
  padding:0;
  display: block;
  font-size: .85rem;
  color:white;
  text-align:center;
}
/*******BREAKPOINTS*******/

/*MOBILE HEADER*/
@media screen and (min-width: 771px) and (max-width: 990px){
  .hero-wrapper h2{
    display: none;
  }
  .flip-card{
    width:40vw;
  }
  #home .dropdown-menu,
  #home a,
  #home i,
  #home .dropdown-toggle{
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px){
  .flip-card{
    width:70vw;
  }
  #home .dropdown-menu,
  #home a,
  #home i,
  #home .dropdown-toggle{
    font-size: 3vw;
  }
}
@media screen and (min-width: 350px) and (max-width:599px){
  .flip-card{
    width:70vw;
  }
  #home .dropdown-menu,
  #home a,
  #home i,
  #home .dropdown-toggle{
    font-size: 4vw;
  }
}
@media screen and (max-width:349px){
  .flip-card{
    width:70vw;
  }
  #home .dropdown-menu,
  #home a,
  #home i,
  #home .dropdown-toggle{
    font-size: 4.8vw;
  }
}